.slide-in {
	z-index: 1;
}

.slide-end {
	display: none;
}

/* Background Image */
.transition-in img {
	-webkit-transition: 1.5s ease 1.2s;
	-moz-transition: 1.5s ease 1.2s;
	-o-transition: 1.5s ease 1.2s;
	transition: 1.5s ease 1.2s;
}

.slide-start img {
	opacity: 0;
	top: 700px;
	position: relative;
}

.slide-in img {
	opacity: 1;
	top: 0px;
}

.transition-out img {
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
}

.slide-end img {
	top: 700px;
}
/* End Background Image */

/* Info Panel */
.slide-start .info {
	opacity: 0;
	margin-top: -200px;
}

.slide-in .info {
	opacity: 1;
	margin-top: 0px;
}

.slide-end .info {
	opacity: 0;
	margin-top: -200px;
}

.transition-in .info {
	-webkit-transition: 1s ease 1s;
	-moz-transition: 1s ease 1s;
	-o-transition: 1s ease 1s;
	transition: 1s ease 1s;
}

.transition-out .info {
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
/* End Info Panel */

/* Container */
.slide-start .container {
	margin-top: 405px;
	opacity: 0;
}

.slide-in .container {
	margin-top: 0;
	opacity: 1;
}

.slide-end .container {
	margin-top: 405px;
	opacity: 0;
}

.transition-in .container {
	-webkit-transition: 1.5s ease 0.5s;
	-moz-transition: 1.5s ease 0.5s;
	-o-transition: 1.5s ease 0.5s;
	transition: 1.5s ease 0.5s;
}

.transition-out .container {
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}
/* End Container */

/* Info Contents */
.slide-start .info * {
	position: relative;
}

.slide-start .info * {
	opacity: 0;
}

.slide-in .info * {
	opacity: 1;
}

.transition-in .info h2 {
	-webkit-transition: opacity 1s ease 1.0s;
	-moz-transition: opacity 1s ease 1.0s;
	-o-transition: opacity 1s ease 1.0s;
	transition: opacity 1s ease 1.0s;
}

.transition-in .info p {
	-webkit-transition: opacity 1s ease 1.3s;
	-moz-transition: opacity 1s ease 1.3s;
	-o-transition: opacity 1s ease 1.3s;
	transition: opacity 1s ease 1.3s;
}

.transition-in .info a {
	-webkit-transition: opacity 1s ease 1.6s;
	-moz-transition: opacity 1s ease 1.6s;
	-o-transition: opacity 1s ease 1.6s;
	transition: opacity 1s ease 1.6s;
}
/* End Info Contents */
